*{
	margin: 0;
	padding: 0;
}

.container{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0.5,0,0,0)),url(images/flight3.jpg);
	background-position: centre;
	background-size: cover;
	position: absolute;

}

.form-box{
	height: 530px;
	width: 400px;
	position: relative;
	margin: 80px auto;
	background: white;
	opacity: 0.9;
	padding: 5px;
}